#messageBox {
    bottom: 20px;
    right: 20px;
    background-color: rgb(51, 235, 51);
    color: white;
    padding: 15px;
    border-radius: 8px;
    display: none;
}
#patientsList{
    padding: 0;
}

.patient-row, .record-row{
    display: grid;
    grid-template-columns: 150px 80px 60px 100px 100px 140px 120px;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
  
} 
.record-row{
    display: grid;
    grid-template-columns: 150px 80px 100px 100px 100px 140px 120px;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
} 
.records{
    margin-top: 10px;
    margin-left: 20px;
}
.patient-row button, .add-patient-btn, .utility-btn, .save-update-btn{
    padding : 8px ;
    color : white ;
    background-color:  #4CAF50;
    border: none;
    border-radius: 10px;
    cursor : pointer ;
    transition : opacity 0.4s;
} 
.patient-row button:hover, .add-patient-btn:hover, .utility-btn:hover {
    opacity: 0.6;
}
.patient-row .delete-btn{
    background-color: rgb(227, 31, 31);
}
.utility-btn{
    background-color: rgb(74, 109, 238);
}
.inputField{
    padding:7px 12px ;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}
body{
    font-family: Arial,  sans-serif;
}